@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hey There</h1>
    <p>Click, the numbers go up.</p>
    <form action="Click" method="post">
        <input type="submit" value="Click">
    </form>
    <label>Total Number: </label> @ViewBag.TotalNumber
</div>
